/* 
nav{
    background-color: #189ad3;
    height: 70px;
    text-align: center;
}
nav >p{
    color: white;
    position: relative;
    top: 10px;
    font-size: 25px;
}
.sec-form{
    border: 2px black dotted;
    width: 20%;
    position: relative;
    top: 10px;
    left: 10px;
}
legend{
    position: relative;
    left: 20px;
    top: 20px;
   
} */
/* button{
    background-color: #71c7ec;
    border: none;
    height: 40px;
    width: 60px;
    color: white;
}
footer{
    background-color: #189ad3;
    height: 70px;
    text-align: center;
    position: relative;
    top: 300px;
}
footer>p{
    color: white;
    position: relative;
    top: 10px;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
    /* width: 960px;
    margin: auto;
} */

nav{
    background-color: #107dac;
    text-align: center;
    height: 70px;
    color: white;
    font-size: 25px;
}
nav>h1{
 position: relative;
 top: 10px;
}
main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.secFor{
    height: 50%;
}
legend{
    color: gray;
    border: 2px dotted gray;
    border-radius: 2%;
    position: relative;
    left: 320px;
    top: 40px;
    width: 50%;
   
}
form {
        
        height: 220%;
    }
/* fieldset{
    border: dashed;
}     */
input{
    color: black;
    position: absolute;
    left: 10px;
    width: 200px;
    border: 1px solid black;
}
select{
    width: 200px;
    border: 1px solid black;
}
label{
    color: black;
    position: absolute;
    left: 10px;
}
table{
    position: relative;
    left: 60px;
    top: 40px;
    width: 50%;
    
}
table tr:nth-child(odd){
    
    background-color: #71c7ec;
}

table tr:nth-child(even){
background-color: #1ebbd7;

}
footer{
    text-align: center;
    color: white;
    background-color: #107dac;
    height: 50px;
    position: relative;
    top: 292px;
}
footer>p{
    position: relative;
    top: 20px;
}

button{
    position: absolute;
    left: 10px;
    height: 30px;
    width: 60px;
    color: white;
    border: none;
    background-color: #71c7ec;
}
